[alias]
    a = add
    aa = add .
    b = branch -vv
    bb = branch -vv --all
    bd = branch -D
    c = commit
    ca = commit -a
    cam = commit -a -m
    cl = clone
    cm = commit -m
    co = checkout
    cob = checkout -b
    d = diff
    i = init
    l = log --all --graph --decorate --oneline -n 30 --pretty=format:"%C(yellow)%h%C(auto)%d%x20%C(brightgreen)%s%x20%C(white)%C(dim)%cN%x20%ar" --remotes=format:"%C(red)%d"
    lb = log --graph --decorate --oneline --pretty=format:"%C(yellow)%h%C(auto)%d%x20%C(brightgreen)%s%x20%C(white)%C(dim)%cN%x20%ar" --remotes=format:"%C(red)%d --first-parent"
    lo = log --all --graph --decorate --oneline -n 30 --pretty=format:"%C(yellow)%h%C(auto)%d%x20%C(brightgreen)%s%x20%C(white)%C(dim)%cN%x20%ar" --remotes=format:"%C(red)%d"
    lof = log --all --graph --decorate --oneline --pretty=format:"%C(yellow)%h%C(auto)%d%x20%C(brightgreen)%s%x20%C(white)%C(dim)%cN%x20%ar" --remotes=format:"%C(red)%d"
    m = merge
    mt = mergetool
    pl = pull
    plo = pull origin
    pu = push
    puo = push origin
    puom = push origin main
    r = remote
    ra = remote add
    s = status -s
    sa = submodule add
    st = stash
    stp = stash pop
    uc = reset HEAD^ --soft
    update-submodules = submodule update --init --recursive
    upgrade-submodules = submodule update --init --remote
    ups = push -u origin HEAD
[color "decorate"]
    head = brightcyan
    branch = cyan
[commit]
    template = ~/.gitmessage
    gpgsign = true
    verbose = true
[core]
    autocrlf = input
    editor = nvim
    excludesfile = ~/.gitignore
    pager = less -R
[credential]
    helper = osxkeychain
[fetch]
    prune = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f
[help]
    autocorrect = 10
[init]
  defaultBranch = main
[log]
    excludeDecoration = *origin/j*
    excludeDecoration = *tag: j*
[merge]
    defaultToUpstream = true
    tool = vimdiff
[mergetool "vimdiff"]
    cmd = vimdiff -f $LOCAL $MERGED $REMOTE
[pull]
    ff = only
    rebase = true
[rebase]
    autoStash = true
[reviewboard]
    url = http://reviewboard.mathworks.com/
[user]
	signingkey = ECBC6ADC776F5C4A
	id = gumamahe
	name = Gowtham Jaganathan
	email = gumamahe@mathworks.com
[gpg]
	program = /usr/local/bin/gpg
