.DS_Store

**/*.log
*.db
fish/**/fish/fish_variables
gh/**/hosts.yml
nvim/**/nvim/spell
tags
test
tmux/**/plugins/**
tmux/**/plugins/tmp
tmux/**/resurrect/*
vim/plugged/**
**/.netrwhist

# Ignore ssh related files
**/authorized_keys
**/id_rsa
**/id_rsa.pub

vscode/.vscode/
