---
user: gumamahe
user_group: 101

dotfiles_repo: git@github.com:yuujay/dotfiles.git
dotfiles_repo_local_path: ~/.config/fish

# MAC Specific flags
install_homebrew_cask_packages: false
install_homebrew_if_missing: false
install_homebrew_packages: false
setup_mac: false
setup_mac_config: false
upgrade_homebrew_packages: false

# Debian Specific flags
install_debian_packages: false
setup_debian: false
setup_debian_config: false

# New machine flags
# TODO: Functionality needs implementing
install_lsp_servers: false
install_paq: false # nvim specific
setup_ssh_keys: false

# Generics
install_ruby_gems: false
setup_dot_files: false
setup_python: false
setup_ruby: false

apt_packages:
  - bash-completion
  - exa
  - fish
  - fzf
  - git
  - htop
  - jq
  - multitail
  # - neovim
  - nmap
  - nodejs
  - npm
  - openssl
  - rsync
  - silversearcher-ag
  - stow
  - tldr
  - tmux
  - tree
  - watch
  - wget

brew_cask_packages:
  - dbeaver-community
  - docker
  - dropbox
  - firefox
  - font-hack-nerd-font
  - google-chrome
  - hammerspoon
  - iterm2
  - karabiner-elements
  - keycastr
  - kitty
  - slack
  - visual-studio-code

brew_packages:
  - asdf
  - bash-completion
  - bat
  - caddy
  - calcurse
  - cask
  - exa
  - fd
  - fish
  - fzf
  - gh
  - git
  - git-delta
  - glow
  - go
  - goreleaser
  - gpg1
  - htop
  - imagemagick
  - jq
  - koekeishiya/formulae/skhd
  - koekeishiya/formulae/yabai
  - lazygit
  - minikube
  - multitail
  - neovim
  - nmap
  - nodejs
  - npm
  - openssl
  - protobuf
  - rbenv
  - ripgrep
  - rsync
  - ruby-build
  - slides
  - ssh-copy-id
  - stow
  - the_silver_searcher
  - tldr
  - tmux
  - tree
  - watch
  - wget
  - yarn

gem_list:
  - rubocop
  - solrgraph
  - neovim

npm_packages:
  - neovim

debian_file_overrides:
  - { src: '{{ dotfiles_repo_local_path }}/config/debian/config.fish', dest: '{{ dotfiles_repo_local_path }}/config.fish' }
  - { src: '{{ dotfiles_repo_local_path }}/config/debian/tmux-shortcuts.conf', dest: '{{ dotfiles_repo_local_path }}/tmux/tmux-shortcuts.conf' }
  - { src: '{{ dotfiles_repo_local_path }}/config/debian/tmux-vim.conf', dest: '{{ dotfiles_repo_local_path }}/tmux/tmux-vim.conf' }

mac_file_overrides:
  - { src: '{{ dotfiles_repo_local_path }}/config/debian/config.fish', dest: '{{ dotfiles_repo_local_path }}/config.fish' }
